.section {
  
  padding: 4rem;
  max-width: 800px;
  margin-top: 60rem;         /* ← 上方留白 */
  margin-bottom: 10rem;      
  background-color: #fffdfdd7;
  border-radius: 8px;
  line-height: 1.75;
}

.article {
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subheading {
  font-size: 1.1rem;
  color: #666;
}

p{
  text-indent: 2em;
}

hr{
  height: 4px; /* 控制粗度：越大越粗 */
  background-color: #333; /* 線條顏色 */
  border: none; /* 移除預設邊框 */
  margin: 2rem 0; /* 上下間距 */
}


.content p {
  opacity: 0;
  transform: translateY(40px);
}

.completeButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
  background: none;
  border: none;
  z-index: 999;
  cursor: pointer;
}

.completeButton img {
  width: 7rem; /* 根據圖示需求調整 */
  height: auto;
  display: block;
}
.completeButton img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
