/* 整页全屏定位 */
.container {
  position: relative;
  inset: 0;
  overflow: hidden;
  z-index: 9999;
}


.svg {
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
}


:global(#DS_bg_Studio) {
  pointer-events: all;
  cursor: pointer;
    transform-box: fill-box;
  transform-origin: center;


  transition: transform 0.2s ease, fill 0.2s ease;
}
:global(#DS_bg_Studio:hover) {
    transform: scale(1.08);
    fill: #f184ea; 
}


.gifContainer {
  position: absolute;
  overflow: hidden;
pointer-events: none;
}

/* theater_bg: x=1114/1440, y=670/1024, w=334/1440, h=310/1024 */
.theater {
  left:65%;
  top:  65%;
  width:  23.19%;
  height: 30.27%;
}

/* Fac_bg: x=16, y=705, w=320, h=285 */
.fac {
  left: 12%;
  top:  65%;
  width:  22.22%;
  height: 27.83%;
}



/* DS_bg: x=560, y=70, w=320, h=310 */
.ds {
  left: 38.89%;
  top:   6.84%;
  width:  22.22%;
  height: 30.27%;
}

/*  */
.gifContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;     
  object-position: center; 
}
