.container {
  height: 100vh;             
  display: flex;
  justify-content: center;   
  align-items: center;         
  padding: 1rem;
}

.centeredText {
  font-size: 1.5rem;
  color: #333;                 
  text-align: center;
  font-family: 'Arial', sans-serif; 
}